@tailwind base;
@tailwind components;
@tailwind utilities;


#root{
  height: 100vh;
  position: relative;
}

#App{
  position: relative;
}

#Logo{
  font-weight: bold;
  font-size: 22px;
}

.footer{
  position: fixed;
  bottom: 10px;
}

#hero-button{
  margin-right: 1em;
}

#hero-content{
  position: absolute;
  top: 50vh;
  transform: translate(0,-25vh);
}

#hero-image-container{
  background-image: url("./Resources/Images/Edited.png");
  background-repeat: no-repeat;
  background-position: left;
}

#centered-content-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.more{
  color: rgb(0, 81, 255);
}

.hidden{
  display: none;
}

#last{
  height: 10em;
}